.container {
  border-bottom: 1px solid whitesmoke;
}
.inner-container {
  display: flex;
  gap: 20px;
  padding-block: 10px;
  margin: auto;
}
.logo-container {
  height: 40px;
  cursor: pointer;
  svg {
    height: 100%;
    width: 100%;
  }
}
.search-box {
  height: 40px;
  min-width: 280px;
  width: 100%;
  border: 1px solid skyblue;
  padding: 0 10px;
  border-radius: 4px;
}
