.tab-titles-container {
  display: flex;
  gap: 7px;
  padding-block: 10px;
}

.tab-title-button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.5s;
  &:hover {
    background: #e8e8e8;
  }
}

.tab-area-container {
  display: flex;
  gap: 10px;
}
.tab-content {
  width: 100%;
  border: 1px solid #e8e8e8;
  padding: 4px;
}
.tab-side-bar-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tab-side-bar-img {
  object-fit: cover;
}
