.tab-titles-container {
  display: flex;
  gap: 7px;
  padding-block: 10px;
}

.tab-title-button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.5s;
  &:hover {
    background: #e8e8e8;
  }
}
